SECRET_KEY=e75cfbc1408a25085275250f51b283e1
MYSQL_HOST=localhost
MYSQL_DATABASE=flask_app_db
MYSQL_USER=root
MYSQL_PASSWORD=
SQLALCHEMY_DATABASE_URI=mysql+mysqlconnector://root:@localhost/flask_app_db
SQLALCHEMY_TRACK_MODIFICATIONS=False
APP_TITLE=My Flask App
FIREBASE_API_KEY=AIzaSyBnubIDEfYFy7Ulvr7HMAbw2WTb8rTuljs
FIREBASE_AUTH_DOMAIN=flask-app-project-faf0c.firebaseapp.com
FIREBASE_DATABASE_URL=https://flask-app-project-faf0c.firebaseio.com
FIREBASE_BUCKET_NAME=flask-app-project-faf0c.firebasestorage.app