{% extends "base.html" %}

{% block head %}
  <title>Login</title>
{% endblock %}

{% block body %}
<form method="POST" action="{{ url_for('login_post') }}">
  <center>
    <h2>Login</h2>
    <label>Email:</label><br />
    <input type="text" name="email" size="30" required /><br /><br />

    <label>Password:</label><br />
    <input type="password" name="password" size="30" required /><br /><br />

    <input type="submit" value="Login" /><br /><br />

    <a href="{{ url_for('register_get') }}">Register</a> &nbsp;&nbsp;
    <a href="{{ url_for('lostpw_get') }}">Forgot Password?</a>
  </center>
</form>
{% endblock %}
